<template>
<aside class="menu">
  <p class="menu-label">Overview</p>
  <ul class="menu-list">
    <li><router-link to="/">Start</router-link></li>
    <li><router-link to="/overview/mixins">Mixins</router-link></li>
    <li><router-link to="/overview/variables">Variables</router-link></li>
  </ul>
  <p class="menu-label">Modifiers</p>
  <ul class="menu-list">
    <li><router-link to="/modifiers/syntax">Syntax</router-link></li>
    <li><router-link to="/modifiers/helpers">Helpers</router-link></li>
  </ul>
  <p class="menu-label">Html&Css</p>
  <ul class="menu-list">
    <li>
      <a>Grid</a>
      <ul>
        <li><router-link to="/grid/columns">Columns</router-link></li>
        <li><router-link to="/grid/tiles">Tiles</router-link></li>
      </ul>
    </li>
    <li>
      <a>Layout</a>
      <ul>
        <li><router-link to="/layout/container">Container</router-link></li>
        <li><router-link to="/layout/hero">Hero</router-link></li>
        <li><router-link to="/layout/section">Section</router-link></li>
        <li><router-link to="/layout/footer">Footer</router-link></li>
      </ul>
    </li>
    <li><router-link to="/elements">Elements</router-link></li>
  </ul>
  <p class="menu-label">Elements</p>
  <ul class="menu-list">
    <li><router-link to="/elements/button">Button</router-link></li>
    <li><router-link to="/elements/form">Form</router-link></li>
    <li><router-link to="/elements/icon">Icon</router-link></li>
    <li><router-link to="/elements/image">Image</router-link></li>
    <li><router-link to="/elements/notification">Notification</router-link></li>
    <li><router-link to="/elements/progress">Progress</router-link></li>
    <li><router-link to="/elements/table">Table</router-link></li>
    <li><router-link to="/elements/tag">Tag</router-link></li>
    <li><router-link to="/elements/title">Title</router-link></li>
  </ul>
  <p class="menu-label">Components</p>
  <ul class="menu-list">
    <li><router-link to="/components/card">Card</router-link></li>
    <li><router-link to="/components/level">Level</router-link></li>
    <li><router-link to="/components/media-object">Media object</router-link></li>
    <li><router-link to="/components/menu">Menu</router-link></li>
    <li><router-link to="/components/message">Message</router-link></li>
    <li><router-link to="/components/modal">Modal</router-link></li>
    <li><router-link to="/components/nav">Nav</router-link></li>
    <li><router-link to="/components/pagination">Pagination</router-link></li>
    <li><router-link to="/components/panel">Panel</router-link></li>
    <li><router-link to="/components/tabs">Tabs</router-link></li>
  </ul>
</aside>
</template>

<script>
export default {
  name: 'nav-view',

  data () {
    return {}
  }
}
</script>
