<template>
<section class="section">
  <div class="container">
    <h1 class="title">Variables</h1>
    <h2 class="subtitle">Easily <strong>customize</strong> Bulma to match your design</h2>

    <hr>

    <div class="content">
      <p>Bulma has 1 variable file divided into <strong>4</strong> sections:</p>
      <ul>
        <li>
          <strong>Initial variables</strong>: where you define variables by <strong>direct value</strong>, like:
          <ul>
            <li><strong>colors</strong>: <code>$blue: #42afe3</code></li>
            <li><strong>font families</strong>: <code>$family-monospace: "Inconsolata", "Consolas", "Monaco", monospace</code></li>
            <li><strong>font sizes</strong>: <code>$size-1: 3.5rem</code></li>
            <li><strong>other values</strong>: <code>$easing: ease-out</code> or <code>$radius-large: 5px</code></li>
          </ul>
        </li>
        <li>
          <strong>Primary colors</strong> derived from the initial variables:
          <ul>
            <li><code>$primary: $turquoise</code></li>
            <li><code>$info: $blue</code></li>
            <li><code>$success: $green</code></li>
            <li><code>$warning: $yellow</code></li>
            <li><code>$danger: $red</code></li>
            <li><code>$dark: $grey-darker</code></li>
            <li><code>$text: $grey-dark</code></li>
          </ul>
        </li>
        <li>
          <strong>Generated variables</strong> where variables are <strong>calculated</strong> from the values set in the previous file. For example, you can have:
          <ul>
            <li><code>$background: $white-ter</code>: the main background color</li>
            <li><code>$link: $primary</code>: the links use the primary color</li>
            <li><code>$family-primary: $family-sans-serif</code>: the primary font family is the sans-serif one</li>
          </ul>
        </li>
        <li>
          <strong>Lists and maps</strong> which are collections so already defined variables:
          <ul>
            <li><code>$colors: (dark: ($dark, $dark-invert), primary: ($primary, $primary-invert), info: ($info, $info-invert), success: ($success, $success-invert), warning: ($warning, $warning-invert), danger: ($danger, $danger-invert))</code></li>
            <li><code>$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6</code></li>
          </ul>
        </li>
      </ul>
      <p>
        To <strong>override</strong> any of these variables, just set them <em>before</em> importing Bulma.
      </p>
    </div>

    <hr>

    <table class="table is-bordered is-striped">
      <tbody><tr><th colspan="2">1. Initial variables</th></tr>

      <tr><th colspan="2">Colors</th></tr>
      <tr>
        <td><code>$black</code></td>
        <td>
          <span class="color" style="background: hsl(0, 0%, 4%);"></span>
          hsl(0, 0%, 4%)
        </td>
      </tr>
      <tr>
        <td><code>$black-bis</code></td>
        <td>
          <span class="color" style="background: hsl(0, 0%, 7%);"></span>
          hsl(0, 0%, 7%)
        </td>
      </tr>
      <tr>
        <td><code>$black-ter</code></td>
        <td>
          <span class="color" style="background: hsl(0, 0%, 14%);"></span>
          hsl(0, 0%, 14%)
        </td>
      </tr>
      <tr>
        <td><code>$grey-darker</code></td>
        <td>
          <span class="color" style="background:  hsl(0, 0%, 21%);"></span>
           hsl(0, 0%, 21%)
          </td>
        </tr>
      <tr>
        <td><code>$grey-dark</code></td>
        <td>
          <span class="color" style="background: hsl(0, 0%, 29%);"></span>
          hsl(0, 0%, 29%)
        </td>
      </tr>
      <tr>
        <td><code>$grey</code></td>
        <td>
          <span class="color" style="background: hsl(0, 0%, 48%);"></span>
          hsl(0, 0%, 48%)
        </td>
      </tr>
      <tr>
        <td><code>$grey-light</code></td>
        <td>
          <span class="color" style="background: hsl(0, 0%, 71%);"></span>
          hsl(0, 0%, 71%)
        </td>
      </tr>
      <tr>
        <td><code>$grey-lighter</code></td>
        <td>
          <span class="color" style="background: hsl(0, 0%, 86%);"></span>
          hsl(0, 0%, 86%)
        </td>
      </tr>
      <tr>
        <td><code>$white-ter</code></td>
        <td>
          <span class="color" style="background: hsl(0, 0%, 96%);"></span>
          hsl(0, 0%, 96%)
        </td>
      </tr>
      <tr>
        <td><code>$white-bis</code></td>
        <td>
          <span class="color" style="background: hsl(0, 0%, 98%);"></span>
          hsl(0, 0%, 98%)
        </td>
      </tr>
      <tr>
        <td><code>$white</code></td>
        <td>
          <span class="color" style="background: hsl(0, 0%, 100%);"></span>
          hsl(0, 0%, 100%)
        </td>
      </tr>
      <tr>
        <td><code>$orange</code></td>
        <td>
          <span class="color" style="background: hsl(14,  100%, 53%);"></span>
          hsl(14,  100%, 53%)
        </td>
      </tr>
      <tr>
        <td><code>$yellow</code></td>
        <td>
          <span class="color" style="background: hsl(48,  100%, 67%);"></span>
          hsl(48,  100%, 67%)
        </td>
      </tr>
      <tr>
        <td><code>$green</code></td>
        <td>
          <span class="color" style="background: hsl(141, 71%,  48%);"></span>
          hsl(141, 71%,  48%)
        </td>
      </tr>
      <tr>
        <td><code>$turquoise</code></td>
        <td>
          <span class="color" style="background: hsl(171, 100%, 41%);"></span>
          hsl(171, 100%, 41%)
        </td>
      </tr>
      <tr>
        <td><code>$blue</code></td>
        <td>
          <span class="color" style="background: hsl(217, 71%,  53%);"></span>
          hsl(217, 71%,  53%)
        </td>
      </tr>
      <tr>
        <td><code>$purple</code></td>
        <td>
          <span class="color" style="background: hsl(271, 100%, 71%);"></span>
          hsl(271, 100%, 71%)
        </td>
      </tr>
      <tr>
        <td><code>$red</code></td>
        <td>
          <span class="color" style="background: hsl(348, 100%, 61%);"></span>
          hsl(348, 100%, 61%)
        </td>
      </tr>

      <tr><th colspan="2">Typography</th></tr>
      <tr>
        <td><code>$family-sans-serif</code></td>
        <td>-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif</td>
      </tr>
      <tr>
        <td><code>$family-monospace</code></td>
        <td>"Inconsolata", "Consolas", "Monaco", monospace</td>
      </tr>
      <tr>
        <td><code>$size-1</code></td>
        <td>3.5rem</td>
      </tr>
      <tr>
        <td><code>$size-2</code></td>
        <td>2.75rem</td>
      </tr>
      <tr>
        <td><code>$size-3</code></td>
        <td>2rem</td>
      </tr>
      <tr>
        <td><code>$size-4</code></td>
        <td>1.5rem</td>
      </tr>
      <tr>
        <td><code>$size-5</code></td>
        <td>1.25rem</td>
      </tr>
      <tr>
        <td><code>$size-6</code></td>
        <td>14px</td>
      </tr>
      <tr>
        <td><code>$size-7</code></td>
        <td>0.75rem</td>
      </tr>
      <tr>
        <td><code>$weight-light</code></td>
        <td>300</td>
      </tr>
      <tr>
        <td><code>$weight-normal</code></td>
        <td>400</td>
      </tr>
      <tr>
        <td><code>$weight-semibold</code></td>
        <td>500</td>
      </tr>
      <tr>
        <td><code>$weight-bold</code></td>
        <td>700</td>
      </tr>

      <tr><th colspan="2">Breakpoints</th></tr>
      <tr>
        <td><code>$tablet</code></td>
        <td>769px</td>
      </tr>
      <tr>
        <td><code>$desktop</code></td>
        <td>1000px (960px + 40px container)</td>
      </tr>
      <tr>
        <td><code>$widescreen</code></td>
        <td>1192px (1152px+ 40px container)</td>
      </tr>

      <tr><th colspan="2">Miscellaneous</th></tr>
      <tr>
        <td><code>$easing</code></td>
        <td>ease-out</td>
      </tr>
      <tr>
        <td><code>$radius</code></td>
        <td>3px</td>
      </tr>
      <tr>
        <td><code>$speed</code></td>
        <td>86ms</td>
      </tr>

      <tr><th colspan="2">2. Primary colors</th></tr>
      <tr>
        <td><code>$primary</code></td>
        <td>$turquoise</td>
      </tr>
      <tr>
        <td><code>$info</code></td>
        <td>$blue</td>
      </tr>
      <tr>
        <td><code>$success</code></td>
        <td>$green</td>
      </tr>
      <tr>
        <td><code>$warning</code></td>
        <td>$yellow</td>
      </tr>
      <tr>
        <td><code>$danger</code></td>
        <td>$red</td>
      </tr>
      <tr>
        <td><code>$light</code></td>
        <td>$white-ter</td>
      </tr>
      <tr>
        <td><code>$dark</code></td>
        <td>$grey-darker</td>
      </tr>

      <tr><th colspan="2">3. Generated variables</th></tr>

      <tr><th colspan="2">Invert colors</th></tr>
      <tr>
        <td><code>$primary-invert</code></td>
        <td>findColorInvert($primary)</td>
      </tr>
      <tr>
        <td><code>$info-invert</code></td>
        <td>findColorInvert($info)</td>
      </tr>
      <tr>
        <td><code>$success-invert</code></td>
        <td>findColorInvert($success)</td>
      </tr>
      <tr>
        <td><code>$warning-invert</code></td>
        <td>findColorInvert($warning)</td>
      </tr>
      <tr>
        <td><code>$danger-invert</code></td>
        <td>findColorInvert($danger)</td>
      </tr>
      <tr>
        <td><code>$light-invert</code></td>
        <td>$dark</td>
      </tr>
      <tr>
        <td><code>$dark-invert</code></td>
        <td>$light</td>
      </tr>

      <tr><th colspan="2">General colors</th></tr>
      <tr>
        <td><code>$body-background</code></td>
        <td>$grey-lighter</td>
      </tr>
      <tr>
        <td><code>$background</code></td>
        <td>$grey-lighter</td>
      </tr>
      <tr>
        <td><code>$border</code></td>
        <td>$grey-light</td>
      </tr>
      <tr>
        <td><code>$border-hover</code></td>
        <td>$grey</td>
      </tr>

      <tr><th colspan="2">Text colors</th></tr>
      <tr>
        <td><code>$text</code></td>
        <td>$grey-dark</td>
      </tr>
      <tr>
        <td><code>$text-invert</code></td>
        <td>findColorInvert($text)</td>
      </tr>
      <tr>
        <td><code>$text-light</code></td>
        <td>$grey</td>
      </tr>
      <tr>
        <td><code>$text-strong</code></td>
        <td>$grey-darker</td>
      </tr>

      <tr><th colspan="2">Code colors</th></tr>
      <tr>
        <td><code>$code</code></td>
        <td>$red</td>
      </tr>
      <tr>
        <td><code>$code-background</code></td>
        <td>$background</td>
      </tr>
      <tr>
        <td><code>$pre</code></td>
        <td>$text</td>
      </tr>
      <tr>
        <td><code>$pre-background</code></td>
        <td>$background</td>
      </tr>

      <tr><th colspan="2">Link colors</th></tr>
      <tr>
        <td><code>$link</code></td>
        <td>$primary</td>
      </tr>
      <tr>
        <td><code>$link-invert</code></td>
        <td>$primary-invert</td>
      </tr>
      <tr>
        <td><code>$link-visited</code></td>
        <td>$purple</td>
      </tr>
      <tr>
        <td><code>$link-hover</code></td>
        <td>$grey-darker</td>
      </tr>
      <tr>
        <td><code>$link-hover-border</code></td>
        <td>$grey-darker</td>
      </tr>
      <tr>
        <td><code>$link-focus</code></td>
        <td>$grey-darker</td>
      </tr>
      <tr>
        <td><code>$link-focus-border</code></td>
        <td>$primary</td>
      </tr>
      <tr>
        <td><code>$link-active</code></td>
        <td>$grey-darker</td>
      </tr>
      <tr>
        <td><code>$link-active-border</code></td>
        <td>$grey-dark</td>
      </tr>

      <tr><th colspan="2">Typography</th></tr>
      <tr>
        <td><code>$family-primary</code></td>
        <td>$family-sans-serif</td>
      </tr>
      <tr>
        <td><code>$family-code</code></td>
        <td>$family-monospace</td>
      </tr>
      <tr>
        <td><code>$size-small</code></td>
        <td>$size-7</td>
      </tr>
      <tr>
        <td><code>$size-normal</code></td>
        <td>1rem</td>
      </tr>
      <tr>
        <td><code>$size-medium</code></td>
        <td>$size-5</td>
      </tr>
      <tr>
        <td><code>$size-large</code></td>
        <td>$size-4</td>
      </tr>

      <tr><th colspan="2">4. Lists and maps</th></tr>
      <tr>
        <td><code>$colors</code>
        </td><td>
          (white: ($white, $black),
          <br>
          black: ($black, $white),
          <br>
          light: ($light, $light-invert),
          <br>
          dark: ($dark, $dark-invert),
          <br>
          primary: ($primary, $primary-invert),
          <br>
          info: ($info, $info-invert),
          <br>
          success: ($success, $success-invert),
          <br>
          warning: ($warning, $warning-invert),
          <br>
          danger: ($danger, $danger-invert))
        </td>
      </tr>

      <tr>
        <td><code>$sizes</code></td>
        <td>$size-1 $size-2 $size-3 $size-4 $size-5 $size-6</td>
      </tr>
    </tbody></table>
  </div>
</section>
</template>
