@charset "utf-8"

@import '~bulma/bulma.sass'

$fa-font-path: '~font-awesome/fonts/'
@import "~font-awesome/scss/font-awesome.scss"

////////////////////////////////////////////////
////////////////////////////////////////////////
// Primary background colors

.bg-is-primary
  background-color: $primary

.bg-is-info
  background-color: $info
.bg-is-success
  background-color: $success
.bg-is-warning
  background-color: $warning
.bg-is-danger
  background-color: $danger

.bg-is-light
  background-color: $light
.bg-is-dark
  background-color: $dark
