<template>
<div id="app">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-2 side-nav">
          <nav-view></nav-view>
        </div>
        <div class="column is-10">
          <transition name="fade" mode="out-in">
            <router-view class="view"></router-view>
          </transition>
        </div>
      </div>
    </div>
  </section>
</div>
</template>

<script>
import NavView from './views/Nav'

export default {
  name: 'app',
  components: {
    NavView
  },
  data () {
    return {}
  }
}
</script>

<style lang="stylus">
.section
  padding: 40px 20px

.side-nav
  border-right: 1px solid #e9e9e9
</style>
