<template>
<section class="section">
  <div class="container">
    <h1 class="title">Buttons</h1>
    <h2 class="subtitle">
      The classic <strong>button</strong>, in different colors, sizes, and states
    </h2>
    <hr>
    <div class="columns">
      <div class="column">
        <div class="block">
          <h4 class="title is-4">Types</h4>
          <bulma-a>Default</bulma-a>
          <bulma-a type="white">White</bulma-a>
          <bulma-a type="light">Light</bulma-a>
          <bulma-a type="dark">Dark</bulma-a>
          <bulma-a type="black">Black</bulma-a>
          <bulma-a type="link">Link</bulma-a>
        </div>
        <div class="block">
          <h4 class="title is-4">Colors</h4>
          <bulma-a type="primary">Primary</bulma-a>
          <bulma-a type="info">Info</bulma-a>
          <bulma-a type="success">Success</bulma-a>
          <bulma-a type="warning">Warning</bulma-a>
          <bulma-a type="danger">Danger</bulma-a>
        </div>
        <div class="block">
          <h4 class="title is-4">Sizes</h4>
          <bulma-a size="small">Small</bulma-a>
          <bulma-a>Normal</bulma-a>
          <bulma-a size="medium">Medium</bulma-a>
          <bulma-a size="large">Large</bulma-a>
        </div>
        <div class="block">
          <h4 class="title is-4">Styles</h4>
          <bulma-a outlined>Outlined</bulma-a>
          <bulma-a type="primary" outlined>Outlined</bulma-a>
          <bulma-a type="info" outlined>Outlined</bulma-a>
          <bulma-a type="success" outlined>Outlined</bulma-a>
          <bulma-a type="danger" outlined>Outlined</bulma-a>
        </div>
        <div class="block bg-is-primary inverted-block">
          <bulma-a inverted>Inverted</bulma-a>
          <bulma-a type="primary" inverted>Inverted</bulma-a>
          <bulma-a type="info" inverted>Inverted</bulma-a>
          <bulma-a type="success" inverted outlined>Inverted</bulma-a>
          <bulma-a type="danger" inverted outlined>Inverted</bulma-a>
        </div>
        <div class="block">
          <h4 class="title is-4">States</h4>
          <bulma-a>Normal</bulma-a>
          <bulma-a type="primary" state="hovered">Hover</bulma-a>
          <bulma-a type="info" state="focused">Focus</bulma-a>
          <bulma-a type="success" state="active">Active</bulma-a>
          <bulma-a type="warning" state="loading">Loading</bulma-a>
          <bulma-a type="danger" state="disabled">Disabled</bulma-a>
        </div>
      </div>
    </div>
    <hr>
    <h4 class="subtitle">With Font Awesome icons</h4>
    <div class="columns">
      <div class="column">
        <p class="control">
          <a class="button">
            <span class="icon is-small">
              <i class="fa fa-bold"></i>
            </span>
          </a>
          <a class="button">
            <span class="icon is-small">
              <i class="fa fa-italic"></i>
            </span>
          </a>
          <a class="button">
            <span class="icon is-small">
              <i class="fa fa-underline"></i>
            </span>
          </a>
          <a class="button is-success">
            <span class="icon is-small">
              <i class="fa fa-check"></i>
            </span>
            <span>Save</span>
          </a>
          <a class="button is-danger is-outlined">
            <span>Delete</span>
            <span class="icon is-small">
              <i class="fa fa-times"></i>
            </span>
          </a>
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="content">
          <p>
            <span class="tag is-success">New!</span>
          </p>
          <p>
            If the button only contains an icon, Bulma will make sure the button remains <strong>square</strong>, no matter the size of the button <em>or</em> of the icon.
          </p>
        </div>
        <bulma-control>
          <bulma-a size="small">
            <bulma-icon size="small" type="fa fa-header"></bulma-icon>
          </bulma-a>
        </bulma-control>
        <bulma-control>
          <bulma-a>
            <bulma-icon size="small" type="fa fa-header"></bulma-icon>
          </bulma-a>
          <bulma-a>
            <bulma-icon type="fa fa-header"></bulma-icon>
          </bulma-a>
        </bulma-control>
        <bulma-control>
          <bulma-a size="medium">
            <bulma-icon size="small" type="fa fa-header"></bulma-icon>
          </bulma-a>
          <bulma-a size="medium">
            <bulma-icon type="fa fa-header"></bulma-icon>
          </bulma-a>
          <bulma-a size="medium">
            <bulma-icon size="medium" type="fa fa-header"></bulma-icon>
          </bulma-a>
        </bulma-control>
        <bulma-control>
          <bulma-a size="large">
            <bulma-icon size="small" type="fa fa-header"></bulma-icon>
          </bulma-a>
          <bulma-a size="large">
            <bulma-icon type="fa fa-header"></bulma-icon>
          </bulma-a>
          <bulma-a size="large">
            <bulma-icon size="medium" type="fa fa-header"></bulma-icon>
          </bulma-a>
          <bulma-a size="large">
            <bulma-icon size="large" type="fa fa-header"></bulma-icon>
          </bulma-a>
        </bulma-control>
      </div>
    </div>
    <hr>
    <h1 class="title">Button group</h1>
    <div class="content">
      <p>If you want to <strong>group</strong> buttons together, use the <code>is-grouped</code> modifier on the <code>control</code> container:</p>
    </div>
    <div class="example">
      <bulma-button-group>
        <bulma-a type="primary">Save changes</bulma-a>
        <bulma-a>Cancel</bulma-a>
        <bulma-a type="danger">Delete post</bulma-a>
      </bulma-button-group>
    </div>
    <hr>
    <h3 class="title">Button addons</h3>
    <div class="content">
      <p>If you want to use buttons as <strong>addons</strong>, use the <code>has-addons</code> modifier on the <code>control</code> container:</p>
    </div>
    <div class="example">
      <bulma-control hasAddons>
        <bulma-a>
          <bulma-icon size="small" type="fa fa-align-left"></bulma-icon>
          <span>Left</span>
        </bulma-a>
        <bulma-a>
          <bulma-icon size="small" type="fa fa-align-center"></bulma-icon>
          <span>Center</span>
        </bulma-a>
        <bulma-a>
          <bulma-icon size="small" type="fa fa-align-right"></bulma-icon>
          <span>Right</span>
        </bulma-a>
      </bulma-control>
    </div>
    <hr>
    <h3 class="title">Button group with addons</h3>
    <div class="content">
      <p>You can group together addons as well:</p>
    </div>
    <div class="example">
      <bulma-button-group>
        <bulma-control hasAddons>
          <bulma-a>
            <bulma-icon size="small" type="fa fa-bold"></bulma-icon>
            <span>Bold</span>
          </bulma-a>
          <bulma-a>
            <bulma-icon size="small" type="fa fa-italic"></bulma-icon>
            <span>Italic</span>
          </bulma-a>
          <bulma-a>
            <bulma-icon size="small" type="fa fa-underline"></bulma-icon>
            <span>Underline</span>
          </bulma-a>
        </bulma-control>
        <bulma-control hasAddons>
          <bulma-a>
            <bulma-icon size="small" type="fa fa-align-left"></bulma-icon>
            <span>Left</span>
          </bulma-a>
          <bulma-a>
            <bulma-icon size="small" type="fa fa-align-center"></bulma-icon>
            <span>Center</span>
          </bulma-a>
          <bulma-a>
            <bulma-icon size="small" type="fa fa-align-right"></bulma-icon>
            <span>Right</span>
          </bulma-a>
        </bulma-control>
      </bulma-button-group>
    </div>
  </div>
</section>

</template>

<style lang="stylus">
.inverted-block
  padding: 1.25rem
</style>
